<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772473047296-p1itimm0ijvk1toinjrchda7gatg9cac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772473047296-p1itimm0ijvk1toinjrchda7gatg9cac</string>
	<key>API_KEY</key>
	<string>AIzaSyAd6OEzloP3xX3mRizlWwfRBtKf53IL2hY</string>
	<key>GCM_SENDER_ID</key>
	<string>772473047296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.buddymarket.app</string>
	<key>PROJECT_ID</key>
	<string>buddycoach-8231c</string>
	<key>STORAGE_BUCKET</key>
	<string>buddycoach-8231c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:772473047296:ios:62f852f9bf1c81b3430be5</string>
</dict>
</plist>
